.categoria_seleccionada_page {
  .categoria_seleccionada_titulo {
    font-size: 1.2rem;
    background-color: #282828;
    border-radius: 6px;
    padding: 0px 10px;
    width: 95%;

    font-style: italic;
    margin: 10px auto;
  }

  .juego_destacado {
    width: 95%;
    margin: auto;

    .hero {
      display: flex;
      height: 400px;
      gap: 10px;

      .hero_big {
        display: flex;
        align-items: end;
        padding: 10px;
        width: 90%;
        border-radius: 8px;

        .badge_descuento {
          width: fit-content;
          padding: 0px 10px;
          border-radius: 6px;
          background-color: #20b356;
        }

        .hero_precios {
          font-size: 1.2rem;
          .precio_viejo {
            text-decoration: line-through;
            opacity: 60%;
          }
        }

        .hero_info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          h2 {
            font-size: 2 rem;
          }

          p {
            font-size: 1rem;
          }

          div {
            display: flex;
            gap: 10px;

            button:nth-child(1) {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #ffffff;
              color: rgba(0, 0, 0, 0.795);
              padding: 8px 10px;
              border: none;
              border-radius: 8px;
              font-size: 1rem;
            }

            button:nth-child(2) {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #0000008a;
              padding: 8px 10px;
              border: none;
              border-radius: 8px;
              font-size: 1rem;
            }
          }
        }
      }

      .hero_small {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 10%;

        img {
          width: 100%;
          height: 60px;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }
  }

  .juegos_section {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px auto;

    .juegos {
      display: flex;
      flex-direction: column;
      width: 45vw;
      border-radius: 10px;
      border: 2px solid #161616;
      background-color: #161616;

      .juegos_data {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
        flex-grow: 1;

        .juegos_data_empresa {
          opacity: 70%;
          font-size: 0.9rem;
        }

        .juegos_data_precio_sin_descuento {
          margin-top: auto;
        }
        .juegos_data_precio_con_descuento {
          margin-top: auto;

          p:nth-child(1) {
            opacity: 60%;
            text-decoration: line-through;
          }
        }
      }

      .juegos_imagen {
        height: 200px;
        position: relative;

        .juegos_imagen_porcentaje {
          position: absolute;
          left: 10px;
          top: 5px;
          background-color: #970f0084;
          padding: 0px 10px;
          border-radius: 5px;
        }

        img {
          width: 100%;
          height: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          object-fit: cover;
        }
      }
    }
  }

  .categoria_seleccionada_search {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #282828;

    div {
      width: 93%;
      margin: auto;
      display: flex;
      background-color: #282828;
      border-radius: 10px;
      padding: 0px 15px;
      border: 2px solid #3f3f3f;
      input {
        background-color: transparent;
        padding: 10px 10px;
        font-size: 1rem;
        border: none;
        width: 100%;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .categoria_seleccionada_page {
    .juegos_section {
      margin-top: 20px;
      .juegos {
        width: calc(20% - 10px);
      }
    }

    .categoria_seleccionada_titulo {
      width: 95%;
      font-size: 1.4rem;
      background-color: transparent;

      .titulo {
        width: fit-content;
        background-color: #161616;
        padding: 0px 10px;
        border-left: 4px solid #66f61e;
      }
    }

    .categoria_seleccionada {
      .juego_destacado {
        .hero {
          .hero_info {
            padding: 10px;
            h2 {
              font-size: 3rem;
            }

            p {
              font-size: 1rem;
            }
          }
        }
      }

      .explorar_page_titulo {
        width: 80%;
        margin: auto;
        margin-bottom: 15px;
        font-size: 1.4rem;
      }

      .explorar_carroucel {
        .explorar_carroucel_header {
          width: 80%;
        }
      }
    }
  }
}
