* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
}

body {
  background-color: #0f0f0f;
}

button {
  cursor: pointer;
}
