.modal_message_section {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 10px;
  animation: mostrar 2s ease 1;

  z-index: 20000;

  .modal_message {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #151515;
    border-radius: 4px;
    padding: 5px 10px 10px 10px;

    .modal_header {
      margin-bottom: 5px;
      img {
        width: 26px;
      }
    }
  }
}

@keyframes mostrar {
  0% {
    top: -100px;
    opacity: 0%;
  }

  98% {
    opacity: 100%;
  }

  100% {
    top: 10px;
    opacity: 0%;
  }
}
